/*selector universal*/
/* {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
    
}*/
/* Reset CSS*/
h1,h2,h4,h3,h5,h6,figure,p{
    margin: 0;
    padding: 0;
}
.container {
    width: 920px;
    margin: 0 auto;
    /* margin: 0; aplica a todos*/
    /*margin 0 0; el primero es top-bottom el segundo left right*/
    
    
    
}

#encabezado{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
#encabezado h1 { font-size: 1.2em; }
#encabezado h2 { font-size: 1em; }
#encabezado h3 { font-size: 0.9em; }
#encabezado h4 { font-size: 0.8em; }
#encabezado h5 { font-size: 0.6em; }

#titulos {
    margin: 0;
}
#menu{
    height: 50px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
}

#contenido{
    
}
/*NOTA IMPORTANTE INICIO*/
#nota-importante{
    height: 300px;
    margin: 20px 0px;
   
    /*box shadow: horizontal, vertical*/
    box-shadow: 0 0 15px darkgray;
}
#nota-importante img{
    border: 15px solid white;
    
}
/*NOTA IMPORTANTE FIN*/
#notas-secundarias{
    min-height: 300px;
    width: 700px;
    display: inline-block;
    float: left;
    margin-top: 10px;
}
#notas-secundaria article{
    display: flex;
    background-image: url('../images/barra_separadora.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
#notas-secundarias figure{
    margin: 0;
    position: relative;
} 
#notas-secundarias span{
    position: absolute;
    top: 10px;
    left: -5px;
    background-color: darkgray;
    
}
#notas-secundarias figure span{
    position: absolute;
    top: 10px;
    padding: 5px 10px;
}
.titulo-notas-secundaria;{
    font-size: 1.7em;
    line-height: 0.9em;
    font-variant: small-caps;
}
.cuerpo-notas-secundaria{
    padding-left: 20px;
    padding-right: 10px;
}
.intro-notas-secundaria{
    text-align: justify;
    padding: 10px 0;
    
}
.boton{
    background: #AA3521;
    display: inline-block;
    padding: 3px;
    box-shadow: 0px 1px 3px darkgray;
}.boton>div{
    padding: 1px 20px;
    border: 1px solid rgba(255,255,255,.7);
}
.boton p{
    color: white;
    font-variant: small-caps;
    font-size: 1.1em;
}
#publicidad{
    min-height: 300px;
    width: 220px;
    display: inline-block;
    float: right;
}

#pie{
   min-height: 150px;
   margin-top: 50px;
}
#encabezado figure {
    margin: 0;
}
#menu li {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    
}
#menu>ul>li {
    display: inline-block;
}
#menu li a {
    text-decoration: none;
    color: black;
}
#menu>ul>li>a {
    padding: 10px;
    background-color: darkgray;
    transition: 0.5s;
}
#menu li ul {
    display: none;
}
#menu>ul>li>a:hover {
    background-color: lightgray;
    transition: 0.5s;
}
#menu ul{
    padding: 0;
}
#politicas
{
    text-align: center;
    border-top: 3px solid lightgray;
    border-bottom: 3px solid lightgray;
    padding: 5px 0;
    color: darkgray;
}
#politicas abbr
{
   cursor: help;
   border-bottom: 1px dotted lightgray;
}
/*PUBLICIDAD INICIO*/
#redes-sociales
{
    text-align: center;
    margin-bottom: 10px;
}
.facebook, .twitter
{
  width: 33px;
    height: 33px;
    display: inline-block;
    text-indent: -9999px;
    transition: 0.2s;
}
.facebook
{
    margin-top: 10px;
    background: url('../images/facebook_twitter.png') 0 0;
}
.twitter
{
    margin-top: 10px;
    background: url('../images/facebook_twitter.png') -43px 0;
}
.facebook:hover
{
    background: url('../images/facebook_twitter.png') 0 -43px;
}
.twitter:hover
{
    background: url('../images/facebook_twitter.png') -43px -43px;
}
#publicidad{
    min-height: 300px;
    width: 220px;
    display: inline-block
}
#publicidad img{
    margin: 3px 0;
}
/*PUBLICIDAD FIN*/
.flexible{
    display: flex;
}
#progamas {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#pie{
    min-width: 150px;
}
.sombra-imagen{
    box-shadow: 0 0 5px #bdbdbd;
}
.figure-nota-secundaria{
    position: relative;
}
.figure-nota-secundarias span{
    position:absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: lightgray;
}
#logo-sems {
    background-image: url(../images/footer/sems_footer.png);
    
    height: 60px;
    width: 215px;
    display: block;
    text-indent: -9999px;
    margin: auto;
}

#separador-sems {
    margin: 30px 0;
    position: relative;
}
#logo-sems::before, #logo-sems::after
{
    content: "";
    border-top: 3px double lightgray;
    display: block;
    position: absolute;
    width: 340px;
    top: 30px;
}

#logo-sems::after
{

    right: 0;
}
#logo-sems::before
{
    left: 0; 
}
#direccion {
    text-align: center;
    color: darkgray;
    font-size: 0.8em;
}

#programas
{
display: flex;
justify-content: space-between;
margin-bottom: 20px;
margin-top: 115px;    
}
.articulo
{
    display: flex;
    background-image: url('../images/barra_separadora.png');
    background-repeat: no-repeat;
    background-position: bottom;
        padding-bottom: 40px;
    margin-bottom: 20px;
}